.dishes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 1rem;
}

.dish-card {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    background-color: white;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    transition: all 0.3s ease;
    border: 1px solid #eee;
}

.dish-card:hover {
    border: 2px solid tomato;
}

.dish-card:hover .add-btn {
    background-color: tomato;
    color: white;
}

.dish-card img {
    width: 100%;
    border-radius: 35px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
}

.dish-card .price {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: -0.3rem;
    color: #000;
}

.dish-card .name {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    flex-grow: 1;
    color: #000;
}

.dish-card .weight {
    color: #666;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.add-btn {
    background-color: #f1eee9;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    margin-top: auto;
    transition: all 0.3s ease;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.order-form {
    background: #f9f9f9;
    margin: -0.8rem 0;
    padding: 1rem;
    box-shadow: 0 2px 10px rgb(0,0,0,0.01);
}

.order-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.order-block h3,
.data-block h3 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600; 
}

.order-block {
    max-width: 270px; 
}

.data-block {
    max-width: 270px; 
}

label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 600; 
    font-size: 1rem;
}

input, select, textarea {
    width: 100%;
    padding: 6px 8px;
    margin-bottom: 0.8rem;
    border: 1px solid rgba(94, 93, 93, 0.886);
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600; 
}

.checkbox, .radio {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600; 
    margin-bottom: 0.7rem;
    font-size: 1rem;
    white-space: nowrap;
    margin-top: -0.4rem;
}

.checkbox input, .radio input {
    width: auto;
    margin: 0;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 0.8rem;
    border: none;
}

fieldset legend {
    font-size: 1rem;
    font-weight: 600; 
    padding: 0;
    margin-bottom: 0.7rem;
}

.buttons {
    display: flex;
    gap: 0.3rem;
    margin-top: -0.7rem;
}

button {
    flex: 1;
    padding: 7px 12px;
    border: 1px solid black;
    border-radius: 0px;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
    background: white; 
    color: #000; 
}

button[type="reset"] {
    background: white;
}

button[type="submit"] {
    background: white; 
    color: #000; 
    border: 1px solid black;
}

small {
    font-size: 0.8rem; 
    color: black;
    display: block;
    margin-top: -0.5rem;
    margin-bottom: 0.7rem;
    font-style: italic; 
    font-weight: 510; 
    white-space: nowrap;
}

@media (max-width: 800px) {
    .dishes-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    nav {
        justify-content: space-between;
    }
    
    .about-image {
        width: 500px;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }
    
    .order-form {
        padding: 1.5rem;
    }
}

@media (max-width: 600px) {
    .dishes-grid {
        grid-template-columns: 1fr;
    }
    
    h1 {
        text-align: center;
    }
    
    .header-content {
        flex-direction: column;
        gap: 1rem;
    }
    
    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    nav a {
        font-size: calc(1.1rem + 4px);
    }
    
    .dishes-section h2 {
        text-align: center;
    }
    
    .about-image {
        width: 100%;
    }
    
    table {
        font-size: 0.9rem;
    }
    
    th, td {
        padding: 0.5rem;
    }
}
